$foreground: #222222;
$background: #eeeeee;
$secondary: gray;
$tertiary: #dddddd;
$accent: #3d3cba;

$foreground-dark: #eeeeee;
$background-dark: #161616;
$secondary-dark: #999999;
$tertiary-dark: #444444;
$accent-dark: #959bf0;

@mixin light-theme {
  color: $foreground;
  background-color: $background;

  .themed-icon {
    display: inline;
    margin: 2px;
    filter: invert(0);
  }

  .secondary {
    color: $secondary;
  }

  a,
  a:link,
  a:visited {
    color: $accent;
  }

  a:hover {
    color: darken($accent, 30%);
  }

  blockquote {
    border-left: 2px solid $secondary;
  }

  code {
    background-color: $tertiary;
  }

  pre code {
    background-color: transparent;
  }

  .footnote-definition sup {
    color: $secondary;
  }
}

@mixin dark-theme {
  color: $foreground-dark;
  background-color: $background-dark;

  .themed-icon {
    display: inline;
    margin: 2px;
    filter: invert(1);
  }

  .secondary {
    color: $secondary-dark;
  }

  a,
  a:link,
  a:visited {
    color: $accent-dark;
  }

  a:hover {
    color: lighten($accent-dark, 10%);
  }

  blockquote {
    border-left: 2px solid $secondary-dark;
  }

  code {
    background-color: $tertiary-dark;
  }

  pre code {
    background-color: transparent;
  }

  .footnote-definition sup {
    color: $secondary-dark;
  }
}

@media (prefers-color-scheme: light) {
  body {
    @include light-theme;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-theme;
  }
}

.dark-mode-buttons {
  position: absolute;

  top: 1em;
  right: 1em;
}

.dark-mode-button {
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

body:not(.dark-mode) {
  @include light-theme;

  #dark-mode-on {
    display: inline;
  }

  #dark-mode-off {
    display: none;
  }
}

body.dark-mode {
  @include dark-theme;

  #dark-mode-on {
    display: none;
  }

  #dark-mode-off {
    display: inline;
  }
}
